@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');

html{
scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.4s ease;
}

body{
  background-color: #333333;
  color: #e6e6e6;
  font-family: 'Oxanium', cursive,  sans-serif,  monospace, Arial, Helvetica, sans-serif;
  transition: all 0.4s ease;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.9);
  color: #e6e6e6;
  font-family: sans-serif;
  min-height: 8vh;
  border-bottom: 5px solid #30475e;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.nav-links{
  margin-bottom: 0px;
}

.logo{
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #e6e6e6;
}

.logo a{
  color: #e6e6e6;
text-decoration: none;
font-weight: bolder;
}

.logo:hover{
  transform: scale(.97);
}

.logo a:hover{
  color: #30475e;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  width: 40%;
list-style: none;
font-size: 17px;
}

a li:hover{
  color: #30475e;
}

a:hover{
  text-decoration: none;
}

a li{
  text-decoration: none;
  color: #e6e6e6;
  font-weight: bolder;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #e6e6e6;
  margin: 5px;
  transition: all 0.3s ease;
}

.line1{
 background-color: #e6e6e6;
 height: 1px;
 width: 2px;
}

.line2{
 background-color: #eee;
 height: 1px;
 width: 2px;
}

.line3{
 background-color: #eee;
 height: 1px;
 width: 2px;
}

/* Landing */
#landing{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  background: url("images/bg-6.jpg") no-repeat center center/cover ;
}

.landingOverlay{
  background-color: rgba(0, 0, 0, 0.5);
width: 100%;
height: 100%;
display:flex;
justify-content: center;
text-align: center;
align-items: center;
border-bottom: 5px solid #30475e;
}

.heading{
  font-size: 4em;
margin-bottom: 20px;
letter-spacing: 3px;
}

.subHeading{
  font-size: 2em;
  margin-bottom: 40px;
}

.btn{
  cursor: pointer;
  padding: 0.5em;
  border: 2px solid #e6e6e6;
  color: #e6e6e6;
  font-size: 1.5em;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.25);
  color: #e6e6e6;
  outline: none;
  transform: scale(.97);
}

.btn:focus {
  outline: 0;
}

.work-btn{
  margin-right: 25px;
}

.icons{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0 40px 0;
}


.icons a{
  text-decoration: none;
}

.githubLink{
  color: rgb(102, 43, 129);
}

.githubLink:hover{
  color: rgb(102, 43, 129);
}

.linkInLink{
color: rgb(0, 127, 178);
}

.linkInLink:hover{
  color: rgb(0, 127, 178);
}

.socialIcon{
  font-size: 1.7em;
  border-radius: 100%;
  border: 2px solid #e6e6e6;
  padding: 0.5em;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.socialIcon:hover{
  transform: scale(.97);
  background-color: rgba(255, 255, 255, 0.25);
  transform: rotate(360deg);
}

.emailLink{
  font-size: 1.3em;
  color: #e6e6e6;
  text-decoration: underline;
  font-style: bold;
  letter-spacing: 2px;
  margin-left: 10px;
}


.emailLink:hover{
  color: #30475e;
}

.emailSpan {
  font-size: 1em;
}

/* My Work Section */
#myWork{
  text-align: center;

}

.section-subHeading{
  font-size: 3em;
  margin: 40px auto 40px auto;
}

.card{
  color: #e6e6e6;
background-color: #333333;
text-align: left;
margin-right: auto;
margin-left: auto;
margin-bottom: 50px;
border-right: 2px solid;
border-image: linear-gradient(to right, #3c3c44 , #30475e ) 1;
transition: 0.5 easein;
}

.card:hover{
  box-shadow: -10px 14px 67px 1px rgba(92,84,84,1);
-webkit-box-shadow: -10px 14px 67px 1px rgba(92,84,84,1);
-moz-box-shadow: -10px 14px 67px 1px rgba(92,84,84,1);
}

.card-header{
  height: 40px;
}

.card-title{
  font-weight: bolder;
}

.card-footer{
  text-align: center;
  margin: 10px 0px 10px 0px;
  text-decoration: none;
}

.card-link{
  cursor: pointer;
  border: 1px solid #3c3c44;
  padding: 5px;
  color: #e6e6e6;
  font-weight: bold;
  font-size: 15px;
  background-color: #30475e;
}

.card-link:hover{
  background-color: rgba(255, 255, 255, 0.25);
  color: #e6e6e6;
}

.card-link a{
  text-decoration: none;
}

.list-group-item{
  background-color: #333333;
  border-bottom: 1px solid #3c3c44;
}

.project-2, .project-3{
  height: 180px;
}
.project-5, .project-6{
  height: 230px;
}

/* About Me */
#about-me{
  text-align: center;
  background-image: url(images/about-me-bg.png);
  background-repeat: no-repeat;
padding-top: 15px;
scroll-behavior: smooth;
}


.para{
  width: 900px;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
}

footer{
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 950px){
.nav-links{
  width: 60%;
}
  ul a li{
    font-size: 15px;
  }

  a li{
    margin-right: 10px;
  }

  .logo a{
    font-size: 20px;
  }
}

@media (max-width: 768px){
  body{
    overflow-x: hidden;
  }

  .burger{
    display: block;
  cursor: pointer;
  }

  .nav-links{
    display: flex;
  background-color: black;
  opacity: 0.8;
  height: 92vh;
  width: 50%;
    position: absolute;
    top: 8vh;
    right: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .fadeIn{
    transform: translateX(0%);
  }

  .move .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }

  .move .line2{
  opacity: 0;
  }

  .move .line3{
    transform: rotate(45deg) translate(-5px, -6px);
  }

}

@media (max-width: 1028px) {

.para{
  font-size: 1.4em;
  width: 400px;
}

.heading{
  font-size: 3.5em;
}

.subHeading{
  font-size: 2.5em;
}

.heading, .subheading{
  font-weight: normal;
  margin: 20px;
}

.landing-buttons{
  display: flex;
  flex-flow: column;
margin-right: auto;
margin-left: auto;
  width: 250px;
}

.btn{
  padding: 0px;
}
.work-btn{
  margin-bottom: 10px;
}
}
